:root {
    background-color: #191919;
    color: white;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

main {
    padding-top: 8%;
    padding-left: 5%;
    padding-bottom: 8%;
    padding-right: 5%;
    display: block;
}

a {
    text-decoration-line: none;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

img {
    width: 400px;
    height: auto;
    justify-content: center;
    margin: 20px auto;
    display: block;
}

main p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

main p b {
    color: bisque;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #211f1f;
    box-shadow: 0 5px 10px rgb(0, 0, 0, -1);
    padding: 0px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: bisque;
}

header .menu ul {
    list-style: none;
}

header .menu ul li {
    position: relative;
    float: left;
}

header .menu ul li a {
    font-size: 20px;
    padding: 20px;
    color: bisque;
    display: block;
}

header .menu ul li a:hover {
    background: #413737;
    color: burlywood;
}

header .menu ul li ul {
    position: absolute;
    left: 0;
    width: 250px;
    background: #211f1f;
    display: none;
    overflow-y: scroll;
    height: 20em;
}

h2 {
    color: bisque;;
}

footer {
    color: bisque;;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}

*::-webkit-scrollbar {   
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #211f1f;
}

*::-webkit-scrollbar-thumb {
    background-color: bisque;
}    

header .menu ul li ul li {
    width: 100%;
    border-top: 1px solid black;
}

header .menu ul li ul li ul {
    left: 0;
    top: 0px;
}

header .menu ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: bisque;
    cursor: pointer;
    display: none;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.box {
    font-size: 20px;
    background-color: #191919;
    color: bisque;
    height: auto;
    text-align: center;
    align-items: center;
    padding: 2%;
    padding-left: 0;
    padding-right: 0;
}

.box img {
    transition: all 3s ease-out;
    filter: grayscale(100%);
    box-shadow: 3px 3px 14px white;
}

.box img:hover {
    border: 5px solid;
    border-image-source: linear-gradient(to right, white, gray, black);
    border-image-slice: 1;
    animation: border-color 2s ease-out 1.5s;
    filter: grayscale(0%);
}

@keyframes border-color {
    0% {
        border-color: white;
    }
    50% {
        border-color: gray;
    }
    100% {
        border-color: black;
    }
}

.animation {
  animation-name: picture;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-delay: 2s;
}

@keyframes picture {
  10% {
  	border-radius: 5%;
    filter: grayscale(25%);
  }
  25% {
  	border-radius: 25%;
    filter: grayscale(50%);
  }
  50% {
  	border-radius: 50%;
    filter: grayscale(100%);
  }
  75% {
    border-radius: 25%;
    filter: grayscale(50%);
  }
  100% {
    border-radius: 0%;
    filter: grayscale(0%);
  }
}  

#container img {
    padding: 0;
}

@media(max-width: 1100px) {
    header {
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 5%;
        padding-right: 5%;
    }

    #container {
        display: block;
    }

    header label {
        display: initial;
    }

    header .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #211f1f;
        border-top: 1px solid black;
        display: none;
        overflow-y: scroll;
        height: 20em;
    }

    header .menu ul li {
        width: 100%;
    }

    header .menu ul li ul {
        position: relative;
        width: 100%;
    }

    #menu-bar:checked ~ .menu {
        display: initial;
    }
}

ul li:before, ul li:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    transition: all 0.5s ease-in-out;
}

ul li:before {
    left: 0;
    border-left: 5px solid transparent;
}

ul li:after {
    right: 0;
    border-right: 5px solid transparent;
}

ul li:hover:before, ul li:hover:after {
    width: 50%;
    transition-delay: 0.2s;
}

ul li:hover:before {
    border-left-color: bisque;
}

ul li:hover:after {
    border-right-color: bisque;
}

#cent {
  margin: auto;
  width: 50%;
  padding: 10px;
}

form {
  width: 70%;
  margin: auto;
}

input[type="text"], input[type="submit"] {
  background-color: #191919;
  color: bisque;
  border-color: bisque;
}

p > a {
  color: bisque;
}

fieldset > p > label {
  color: bisque
}

fieldset > h4 {
  color:bisque
}

fieldset > legend {
  color: bisque;
}

fieldset {
  margin-bottom: 20px;
}

/*

fișier separat pentru codul JavaScript

Vreau sa fac un quizz despre the beatles:
*validarea datelor dintr-un formular folosind expresii regulate
  *validare pentru Nume: nume + prenume, lungime maxima 20 de caractere fiecare
*inputuri funcționale (de exemplu: input de tip text/range/number/radio/checkbox, select, textarea)
  *alege anul in care - range
  *o grila (la usor e radio, la greu de checkbox)
  *date etc
*folosirea localStorage (să se pastreze în localStorage o colecție de elemente)
  *retin cele mai bune N scori si numele celor care le-au trimis
*folosirea a cel puțin unei metode din clasele: Math, Array, String, Date:
  *Math - random
  *Date - cat de aproape / departe esti de raspunsul corect
  *Array - sort pentru ca trebuie sa ordonezi albumele
  *String - slice, find - pentru adresare doar cu prenumele
*modificarea stilului unui element sau al unui grup de elemente
  *fundalul se schimba in functide de difucultate (usor / greu)

Pune piesa in albumul corect (in cadrul quizz-ului):
*crearea și stergerea de elemente HTML
  *cand dau un guess, creez un nou nod intr-un div, la final, le sterg
*manipularea DOM-ului (selectare după id, tag, clasă, folosind selectori CSS) 
  *selectie dupa clasa verificare cate sunt corecte
*folosirea proprietăților classList, target sau currentTarget
  *adaug intr-o listă, dar îi adaug și un class ca sa pot sa vad cate sunt corecte mai usor la final
*folosirea și modificarea evenimentelor generate de mouse si tastatură
  *dai click pe o piesa, dupa care apesi 1, 2, 3, 4 ca sa o muti (1 o muta in primul, 2 in al doilea, etc)
  *folosirea metodei stopPropagation
*schimbarea aleatoare a valorilor unor proprietăți (de exemplu: culoare, dimensiuni, poziție)
  *cand pun o piesa intr-o categorie, se lumeineaza cu o culoare random textul

 Va trebui sa fac si un joc maze-like:
*folosirea setTimeout sau setInterval:
  *pentru block-uri de delay
*modificare de proprietăți
  *schimb tipul block-ului (block e o clasa)

folosirea metodei getComputedStyle

*/